* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.tree {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    padding: 50px;
    padding-top: 10px;
}

.tree-container {
    --line-color: rgb(255, 255, 255);
    --border-highlight: rgb(0, 255, 191);
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

.tree-container ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 40px;
    position: relative;
    padding-left: 0px;
}

.tree-container ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid var(--line-color);
    width: 0;
    height: 40px;
}

.tree-container li {
    list-style: none;
    float: left;
    text-align: center;
    position: relative;
    white-space: nowrap;
    padding: 0 10px;
}

.tree-container li::before,
.tree-container li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid var(--line-color);
    width: 50%;
    height: 18px;
}

.tree-container li::after {
    right: auto;
    left: 50%;
    /* border-left: 2px solid var(--line-color); */
}

.tree-container li:only-child::after,
.tree-container li:only-child::before {
    display: none;
}

.tree-container li:only-child {
    padding-top: 0;
}

.tree-container li:first-child::before,
.tree-container li:last-child::after {
    border: 0 none;
}

.tree-container>ul:first-child>li::before,
.tree-container>ul:first-child>li::after {
    border: 0 none;
}

/* .tree-container li:last-child::before {
    border-right: 2px solid var(--line-color);
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
} */

/* .tree-container li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
} */

.tree-card {
    overflow: hidden;
    display: inline-flex;
    padding-bottom: 40px;
    position: relative;
    flex-direction: column;
}

.tree-card::before,
.tree-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    border-bottom: 2px solid var(--line-color);
    width: 50%;
    height: 40px;
}

.tree-card:first-child:before,
.tree-card:first-child:after {
    left: 50%;
}

.tree-card::after {
    right: auto;
    left: 50%;
    border-left: 2px solid var(--line-color);
}

.tree-card:only-child::after,
.tree-card:only-child::before {
    display: none;
}

.tree-card:only-child {
    padding-top: 0;
}

.tree-card:first-child::before,
.tree-card:last-child::after,
.tree-card:nth-child(2)::after {
    border: 0 none;
}

.tree-card:first-child::after {
    border-bottom-left-radius: 10px;
}

.tree-card:last-child::before,
.tree-card:nth-child(2)::before {
    border-right: 2px solid var(--line-color);
    border-bottom-right-radius: 10px;
}

.tree-card:last-child::after {
    border-bottom: 0 none;
}


/* card top line */
.tree-card-line-top {
    height: 40px;
    width: 100%;
    position: relative;
}

.tree-card .tree-card-line-top::before,
.tree-card .tree-card-line-top::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid var(--line-color);
    width: 50%;
    height: 40px;
}

.tree-card .tree-card-line-top::after {
    right: auto;
    left: 50%;
    border-left: 2px solid var(--line-color);
}

.tree-container li:first-child>.tree-card:first-child .tree-card-line-top::after {
    border-top-left-radius: 10px;
}

.tree-container li:last-child>.tree-card:first-child .tree-card-line-top::after {
    border: 0 none;
}

.tree-container li:first-child>.tree-card:nth-child(2) .tree-card-line-top::before {
    border: 0 none;
}

.tree-container li:last-child>.tree-card:nth-child(2) .tree-card-line-top::after,
.tree-container li:last-child>.tree-card:only-child .tree-card-line-top::after {
    left: auto;
    right: 50%;
    border-right: 2px solid var(--line-color);
    border-top-right-radius: 10px;
}

.tree-card:first-child .tree-card-line-top::before,
.tree-card:last-child .tree-card-line-top::after {
    border: 0 none;
}

.tree-card:last-child .tree-card-line-top::after,
.tree-card:nth-child(2) .tree-card-line-top::after {
    border: 0 none;
}

.tree-container ul:first-child>li>.tree-card>.tree-card-line-top::before,
.tree-container ul:first-child>li>.tree-card>.tree-card-line-top::after,
.tree-container ul:first-child>li>.tree-card:nth-child(2)>.tree-card-line-top::after {
    border: 0 none;
}

.tree-container li:last-child>.tree-card:nth-child(2) .tree-card-line-top::before,
.tree-container li:last-child>.tree-card:last-child .tree-card-line-top::before {
    border-top-right-radius: 10px;
}
.tree-container ul> .single:first-child::after {
    border-top-left-radius: 10px;
}
.tree-container ul>li:first-child .single .tree-card-line-top::after{
    border-left: 2px solid var(--line-color);
}
.tree-container ul> .single:last-child::before {
    border-top-right-radius: 10px;
}
.tree-container ul> .single > .tree-card::after,
.tree-container ul> .single > .tree-card::before {
    border-bottom: 0 none;
    border-radius: 0;
}
.card-image {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;

    will-change: transform;
    transition: transform 450ms;
    border: 4px solid var(--line-color);
}

.card-image:hover {
    cursor: pointer;

    transition: transform 120ms;
    transform: translateY(-10px);
}

/* owner card hightlighting */
#me>.card-image {
    border-color: var(--border-highlight);
}

.card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    z-index: 1;
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #000000bd, #00000079, #0000004b, #0000001a, #00000000);
    height: 35%;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}

.image-caption-text {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(33, 33, 33, 1);
}

.image-caption-text span:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.image-caption-text span:nth-child(2) {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}